$color-bg: #333;
$color-bg-rgb: rgb(51, 51, 51);


$color-primary: #fff;
$color-primary-rgb: rgb(255, 255, 255);
$color-primary-hover: #d5d5d5;
$color-primary-active: #aaa;

$color-secondary: #000ccc;