.image {
    height: 33vh;
    width: 33vh;
    background: url(./assets/3.png) no-repeat;
    background-attachment:scroll;
    background-size: cover;
    float: left;
    margin-right: 1rem;

}
@media screen and (max-width: 980px) {
    .image {
        background-size: cover;
        margin-bottom: 1rem;
        min-width: 100vw;
        height: 360px;
    }
}
@media (orientation: landscape) and (max-width: 980px) {
    .image {
        background-size: contain;
        margin-bottom: 0;
        min-width: 0;
        width: 100vh;
    }
}