.main {
    align-items: center;
    display: flex;
    justify-content: center;
    height: fit-content;
    max-width: 1300px;
    padding: 0 40px;
    text-align: center;
}

.row {
    display: grid;
    gap: 80px;
    grid-template-columns: repeat(4, auto);
    height: 50px;
}

.brand {
    height: 32px;
    transition: 0.3s linear;
    position: absolute;
    width: 32px;
    &:hover {
        height: 50px;
        width: 50px;
    }
}
.vk {
    svg {
        fill: #1E88E5;
    }
}
.facebook {
    svg {
        fill: #4267B2;
    }
}
.whatsapp {
    svg {
        fill: #25D366;
    }
}